/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f2ff;
    color: #333;
}

/* HEADER */
.header {
    width: 100%;
    background: #6a4df4;
    padding: 15px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #fff9c9;
    font-size: 14px;
}

.header .btns button {
    padding: 6px 14px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
}

.login {
    background: #fff;
}

.signup {
    background: #ffdd57;
}

/* HERO */
.hero {
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.order-btn {
    padding: 10px 20px;
    margin-top: 15px;
    background: #ffdd57;
    border: none;
    cursor: pointer;
}

.hero-img {
    width: 350px;
    border-radius: 12px;
}

/* LOCATION */
.location-box {
    background: #fff;
    padding: 20px;
    text-align: center;
}

.location-box input {
    padding: 8px;
    width: 250px;
}

.location-box button {
    padding: 8px 15px;
    background: #6a4df4;
    color: white;
    border: none;
}

/* CATEGORIES */
.categories {
    padding: 40px;
}

.categories h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cat-grid {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 20px;
}

.cat-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.cat-card img {
    width: 100%;
    border-radius: 8px;
}

/* RESTAURANTS */
.restaurants {
    padding: 40px;
}

.rest-grid {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    justify-content: center;
    gap: 20px;
}

.rest-card {
    background: white;
    padding: 12px;
    border-radius: 8px;
}

/* OFFERS */
.offers {
    background: #fff9c9;
    padding: 25px;
    text-align: center;
}

/* TESTIMONIALS */
.testimonials {
    padding: 40px;
    background: #fff;
}

.test-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.test-card {
    width: 250px;
    padding: 15px;
    background: #f0eaff;
    border-radius: 8px;
}

/* FOOTER */
.footer {
    background: #6a4df4;
    color: white;
    padding: 12px;
    text-align: center;
}

/* RESPONSIVE */
@media(max-width: 76px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        max-width: 100%;
    }
    .hero-img {
        margin-top: 20px;
        width: 80%;
    }

    .cat-grid, .rest-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .test-grid {
        flex-direction: column;
        align-items: center;
    }
}
